.detail_wrapper
  .detail_photo_box
    =image_tag(@photo.url_b)
  .detail_datetime_box
    =@photo.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')
  .detail_share_box
    %p "시원하고 신나는 에어바운스와 에어슬라이드, 30m 점프존 등이 있는 양재 키즈파크에서 점프샷 한장!!"
    = link_to image_tag("facebook-big.jpg"), 'http://www.facebook.com/sharer.php?u=54.250.162.126/photos/detail/'+@photo.id, :target => :blank
    %a{"data-count" => "none", "data-lang" => "ko", "data-size" => "large", "data-text" => "양재 키즈파크에서 점프샷!!!" ,"data-via" => "양재KidsPark", :href => "http://twitter.com/share"}
      =image_tag("twitter-big.jpg")
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
    = link_to image_tag("download-big.jpg"), photos_download_path(@photo) 
