#info_area
  =image_tag("info_mention.png")
#search_area
  =form_tag("/photos/index") do
    #search_fields_wrapper
      =text_field_tag "datetimepicker1", nil, class:"search_box", placeholder:"시작 날짜를 입력해주세요"
      %b ~  
      =text_field_tag "datetimepicker2", nil, class:"search_box", placeholder:"종료 날짜를 입력해주세요"
    =hidden_field_tag 'show_type', 'find'
    #search_button_wrapper
      =image_submit_tag "find_photo.png", :class => "search_button"
#photo_area
  = render partial: "layouts/photo_box", locals: {photos: @photos}
=paginate @photos

