.plat
  .wrapper
    .search_area
      =form_tag("/photos/show") do
        %span 검색하려는 날짜와 시간 구간을 입력해 주세요:
        =datetime_select("find_from_datetime","post",default:@from_datetime, use_month_numbers:true)
        \ ~  
        =datetime_select("find_to_datetime","post",default:@to_datetime, use_month_numbers:true)
        =hidden_field_tag 'show_type', 'find'
        =submit_tag "검색"
    =@photos.each do |photo|
      =link_to(photos_detail_path(photo),:method => :get) do
        .box
          .photo_box
            =image_tag(photo.flickr_id)
          .meta_box
            =photo.created_at
