.plat
  .wrapper
    #search_area
      =form_tag("/photos/show") do
        =text_field_tag "datetimepicker1", nil, class:"search_box"
        \ ~  
        =text_field_tag "datetimepicker2", nil, class:"search_box"
        =hidden_field_tag 'show_type', 'find'
        =submit_tag "검색", :class => "search_button"
    #photo_area
      -@photos.each do |photo|
        =link_to(photos_detail_path(photo)) do
          .box
            .photo_box
              =image_tag(photo.flickr_id)
            .meta_box
              =photo.created_at
