#mobile_body{
  background: white;
}

#mobile_header{
  width:100%;
}

#mobile_header .logo img{
  width:100%;
}

#mobile_nav{
  width:100%;
  margin:0;
  border:0;
//  font-size:0;
}

#mobile_facility_tab{
  width:21.111111111%;
  //height:1.974999em;
  //background: image-url("mobile_facility_tab.png") no-repeat center;
  //background-size:100% 100%;
  //display:inline-block;*display:inline;*zoom:1;
  float:left;
}
#mobile_jumping_tab{
  width:28.888888889%;
  //height:1.974999em;
  //background: image-url("mobile_jumping_tab.png") no-repeat center;
  //background-size:100% 100%;
  //display:inline-block;*display:inline;*zoom:1;
  float:left;
}
#mobile_gallery_tab{
  width:25.972222222%;
  //height:1.974999em;
  //background: image-url("mobile_gallery_tab.png") no-repeat center;
  //background-size:100% 100%;
  //display:inline-block;*display:inline;*zoom:1;
  float:left;
}
#mobile_blog_tab{
  width:24.027777778%;
  //height:1.974999em;
  //background: image-url("mobile_blog_tab.png") no-repeat center;
  //background-size:100% 100%;
  //display:inline-block;*display:inline;*zoom:1;
  float:left;
}

#mobile_nav #mobile_facility_tab img{
  width:100%;
}

#mobile_nav #mobile_jumping_tab img{
  width:100%;
}

#mobile_nav #mobile_gallery_tab img{
  width:100%;
}

#mobile_nav #mobile_blog_tab img{
  width:100%;
}

#mobile_contents{
  background:white;
  clear:both;
  width:100%;
}

#mobile_footer img{
  width:100%;
}

.mobile_content_image{
  width: 100%;
}

.mobile_content_image img{
  width:100%;
}
