/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

$content_width:1025px;
$header_background_color:#1e1e1e;
$footer_background_color:#a8a8a8;

body{
  background:$footer_background_color;
}

#header{
  height:77px;
  width:$content_width;
}
  
#header .logo{
  margin: 10px 0px 10px 0px;
  vertical-align:middle;
  display:inline-block;*display:inline;*zoom:1;
}

#header_wrapper{
  background:$header_background_color;
  border-bottom: 1px solid #c3c3c3;
  box-shadow: 0px 0px 5px #b1b1b1;
  height:77px;
  width:100%;
}


#header ul{
  margin: 38px 20px 0px 10px;
  padding: 0;
  display:inline-block;*display:inline;*zoom:1;
  float:right;
}

#header ul li{
  list-style-type: none;
  display: inline-block;
  border-right: solid 2px white;
}

#header ul li:hover{
  cursor: pointer
}

#header ul li:last-child{
  border-right:0px;
}

#gallery_tab{
  background: image-url("photo_off.png") no-repeat center;
  width:101px;
  height:27px;
}

#gallery_tab.active{
  background: image-url("photo_on.png") no-repeat center;
}

#about_tab{
  background: image-url("about_off.png") no-repeat center;
  width:65px;
  height:27px;
}

#about_tab.active{
  background: image-url("about_on.png") no-repeat center;
}

#scatch_tab{
  background: image-url("scatch_off.png") no-repeat center;
  width:80px;
  height:27px;
}

#scatch_tab.active{
  background: image-url("scatch_on.png") no-repeat center;
}

#tocome_tab{
  background: image-url("tocome_off.png") no-repeat center;
  width:64px;
  height:27px;
}

#tocome_tab.active{
  background: image-url("tocome_on.png") no-repeat center;
}

#blog_tab{
  background:image-url("blog.png") no-repeat top;
  margin-left:25px;
  width:80px;
  height:26px;
}

#contents_wrapper{
  background:image-url("bg_pattern.png") repeat;
  padding: 15px 0;
  width:100%;
}

#contents{
  width:$content_width;
}

.bar{
  height: 14px;
}

#footer_wrapper{
  background: $footer_background_color;
  width:100%;
  //border-top:1px solid #c3c3c3;
  height:67px;
  top:100%;
  left:0;
}

#footer{
  padding: 5px 3px;
  width: $content_width;
  color:#fff;
}

