#mobile_body{
  background: white;
}

#mobile_header{
  width:100%;
}

#mobile_header .logo img{
  width:100%;
}

#mobile_nav{
  width:100%;
  margin:0;
  border:0;
  font-size:0;
}

#mobile_facility_tab{
  width:21.111111111%;
  display:inline-block;
}
#mobile_jumping_tab{
  width:28.888888889%;
  display:inline-block;
}
#mobile_gallery_tab{
  width:25.972222222%;
  display:inline-block;
}
#mobile_blog_tab{
  width:24.027777778%;
  display:inline-block;
}

#mobile_nav #mobile_facility_tab img{
  width:100%;
}

#mobile_nav #mobile_jumping_tab img{
  width:100%;
}

#mobile_nav #mobile_gallery_tab img{
  width:100%;
}

#mobile_nav #mobile_blog_tab img{
  width:100%;
}

#mobile_contents{
  background:white;

  width:100%;
}

#mobile_footer img{
  width:100%;
}

.mobile_content_image{
  width: 100%;
}

.mobile_content_image img{
  width:100%;
}
