// Place all the styles related to the mobile_gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mobile_gallery{
  width:100%;
  text-align:center;
  font:2em;
  padding: 15% 5%;
}
