// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$photo_small_width:213px;
$photo_small_height:320px;
$photo_big_width:1024px;
$photo_big_height:640px;
$meta_small_height:20px;
$margin_px: 14px;
$main_background_color: transparent;
$box_border_color:#bdbdbd;
$box_shadow_color:#9f9f9f;
*{
  border:0;
  padding:0;
  margin:0 auto;
  font-family: 나눔고딕, 새굴림, 굴림, 돋움, Serif;
}

a:link {
  color:black;
  text-decoration:none;
}
a:visited {
  color:black;
  text-decoration:none;
}
a:active {
  color:black;
  text-decoration:none;
}
a:hover {
  color:black;
  text-decoration:none;
}

#info_area{
  display:inline-block;
  zoom:1;
  .display:inline;
  
}

#search_area{
display:inline-block;
  zoom:1;
  .display:inline;
  float:right;
  border-radius:5px;
  text-align:center;
  height:25px;
  padding:7px 0px;
  vertical-align:middle;
  line-height:27px;
  margin-right:20px;
}

.search_box{
  background:transparent;
  border: 1px solid $box_border_color;
  border-radius:5px;
  width:150px;
  height:20px;
  text-align:center;
}

.search_button{
  background:#D6FFFF;
  border: 1px solid $box_border_color;
  border-radius:5px;
  width:76px;
  height:20px;
  margin-left:10px;
}

.search_button:hover{
  background:#A0D9E2;
  cursor:pointer;
}

.search_button:active{
  position:relative;
  top:1px;
}

#search_fields_wrapper{
  position:relative;
  top: -5px;
  display:inline-block;*display:inline;*zoom:1;
}

#search_button_wrapper{
  display:inline-block;*display:inline;*zoom:1;
}

#photo_area{
  width:100%;
  
}

.box{
  border:1px solid $box_border_color;
  border-radius:5px;
  margin: 14px 3px 0px 3px;
  padding: 0;
  display:inline-block;
  zoom:1;
  .display:inline;
  //width: $photo_small_width;
  //height: $photo_small_height + $meta_small_height + 10;
  overflow:auto;
  box-shadow:0px 2px 5px $box_shadow_color;
}

//.box:hover{
//  box-shadow: 0px 0px 50px #f58565;
//  cursor:pointer;
//}

.box .photo_box{
  border-bottom: 2px #32AAFF;
  margin: 0 auto;
  padding: 0;
  //width: $photo_small_width;
  //height: $photo_small_height;
}

.box .meta_box{
  background:#f9f9f9;
  border: 0px; 
  margin: 0 auto;
  padding: 5px 0;
  //width: $photo_small_width;
  //height: $meta_small_height;
  text-align:center;
}

.detail_wrapper{
  width:$photo_big_width;
  margin:0 auto;
  padding:0px;
  border: 0px;
}

.detail_datetime_box{
  width:$photo_big_width;
  overflow:auto;  
  text-align:right;
  font-size:2em;
}

.detail_photo_box{
  width:$photo_big_width;
  text-align:center;
}

.detail_share_box{
  text-align:right;
}

.detail_share_box img{
  width: 200px;
}

