-photos.each do |photo|
  =link_to(photos_detail_path(photo)) do
    //= debug photo
    .box
      .photo_box
        =image_tag(photo.url_n)
      .meta_box
        =photo.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')
